body {
    background-color: #FFF8E7; 
    margin: 0;
    font-family: "Albert Sans Bold", sans-serif;
}

h1 {
    text-align: center;
    font-size: 32px;
    color: #000000; 
    font-weight: bold;
}

.webpage {
    width: 1200px;
    margin: auto;
    background-color: #FFF8E7; 
    padding: 20px;
}

.mission {
    font-size: 20px;
    color: #FCB544; 
    padding: 10px;
    text-align: center;
}

.text {
    width: 1000px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #000000; 
}

.label {
    text-align: left;
    margin: auto;
}

html {
    scroll-behavior: smooth;
}


.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #FCB544; 
    padding: 10px 0;
    margin-bottom: 20px;
    width: 412px;
}

.navbar li {
    margin: 5px; 
}

.navbar .nav-btn {
    color: #ffffff; 
    padding: 10px 20px;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 15px;
    transition: background-color 1s ease, color 1s ease;
    text-decoration: none;
}

.navbar .nav-btn:hover {
    background-color: #b3730b; 
    color: #ffffff; 
}


#planet {
    width: 1000px;
    margin: auto;
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#space {
    width: 200px;
    height: 50px;
}

#align {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: inline-block;
}

.new {
    justify-content: center;
    align-items: center;
}

button {
    background-color: #FCB544; 
    color: #ffffff; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b3730b; 
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
    margin-right: 10px;
}

.streak-tracker {
    text-align: center;
    margin: 20px 0;
}

.streak-tracker h2 {
    font-size: 24px;
    color: #b3730b;
}

.streak-tracker p {
    font-size: 18px;
    color: #FCB544;
}

/* Font Face */
@font-face {
    font-family: "Albert Sans Bold";
    src: url('AlbertSans-Bold.ttf') format('truetype');
}